/bin/Debug/netcoreapp2.2/Test.deps.json
/bin/Debug/netcoreapp2.2/Test.dll
/bin/Debug/netcoreapp2.2/Test.pdb
/bin/Debug/netcoreapp2.2/Test.runtimeconfig.dev.json
/bin/Debug/netcoreapp2.2/Test.runtimeconfig.json
/obj/Debug/netcoreapp2.2/Test.AssemblyInfo.cs
/obj/Debug/netcoreapp2.2/Test.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp2.2/Test.assets.cache
/obj/Debug/netcoreapp2.2/Test.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp2.2/Test.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.2/Test.csprojAssemblyReference.cache
/obj/Debug/netcoreapp2.2/Test.dll
/obj/Debug/netcoreapp2.2/Test.pdb
/obj/Test.csproj.nuget.cache
/obj/Test.csproj.nuget.dgspec.json
/obj/Test.csproj.nuget.g.props
/obj/Test.csproj.nuget.g.targets
